.panel {
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.10);
    padding: 16px 16px;
}



.thread-info{
    display: flex;
    box-sizing: border-box;
}

.img-circle{
    width: 24px;
}